.features {
  padding: 2rem;
}
.features-mobile-on {
  display: none;
}
.features__heading h2 {
  text-align: center;
}
.features__main {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  align-items: center;
  justify-content: space-evenly;
}
.features__main--image img {
  height: 35rem;
  width: auto;
}
.features__main--box {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.features__main--box p {
  font-size: 1.2rem;
  margin-left: 1rem;
  font-weight: 700;
}
.features__main--box img {
  width: 4rem;
}
