.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
  height: 100vh;
  overflow: hidden;
}
.hero__heading h1 {
  font-size: 4rem;
}
.hero__heading p {
  font-size: 1.7rem;
  padding: 1rem 0 1rem 0;
}
.hero__buttons img {
  width: 10rem;
  height: auto;
}
.hero__color {
  color: teal;
}
.hero__buttons img:last-child {
  margin-left: 1rem;
}

.hero__image img {
  height: 37rem;
  width: auto;
}
