@media (min-width: 768px) and (max-width: 1024px) and (max-width: 991px) {
  .hero {
    flex-direction: column;
  }
  .hero__heading {
    text-align: center;
    align-items: center;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .hero {
    flex-direction: column;
    padding-top: 2rem;
  }
  .hero__heading {
    text-align: center;
    align-items: center;
  }
  .hero__heading h1 {
    font-size: 2rem;
  }
  .hero__heading p {
    font-size: 1rem;
    padding: 1rem 0 1rem 0;
  }
  .hero__buttons img {
    width: 7rem;
    height: auto;
  }
  .hero__buttons img:last-child {
    margin-left: 1rem;
  }
  .hero__image img {
    height: 35rem;
    width: auto;
  }
}
