@media (min-width: 768px) and (max-width: 1024px) and (max-width: 991px) {
  .hero {
    flex-direction: column;
  }
  .hero__heading {
    text-align: center;
    align-items: center;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .hero {
    height: 100%;
    flex-direction: column;
  }
  .hero__heading {
    padding: 2rem;
    text-align: center;
    align-items: center;
  }
  .hero__heading h1 {
    font-size: 2rem;
  }
  .hero__heading p {
    font-size: 1rem;
    padding: 1rem 0 1rem 0;
  }
  .hero__buttons img {
    width: 7rem;
    height: auto;
    padding-bottom: 2rem;
  }
  .hero__buttons img:last-child {
    margin-left: 1rem;
  }
  .hero__image img {
    height: 35rem;
    width: auto;
  }
  .features-mobile-off {
    display: none;
  }
  .features-mobile-on {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // .features {
  // }
  .features__main {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .features__main--image img {
    height: 30rem;
    width: auto;
  }
  .features__main--box {
    display: flex;
    align-items: center;
    padding: 1rem;
  }
  .features__main--box p {
    font-size: 1rem;
    // margin-left: 1rem;
    font-weight: 700;
  }
  .features__main--box img {
    width: 2rem;
  }
}
